.gradient-primary {
  background: linear-gradient(160deg, $secondary-color, $primary-color);
  color: $white;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}
