// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.										 |
// -----------------------------------------------------------------------------

// Font Logo & Title
$text-font-title: 'Shrikhand';

// Font text
$text-font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Main Color
$primary-color-alpha-10: #9356dc10;
$primary-color-alpha-20: #9356dc20;
$primary-color-alpha-30: #9356dc30;
$primary-color-alpha-40: #9356dc40;
$primary-color-alpha-50: #9356dc50;
$primary-color-alpha-60: #9356dc60;
$primary-color-alpha-70: #9356dc70;
$primary-color-alpha-80: #9356dc80;
$primary-color-alpha-90: #9356dc90;
$primary-color: #9356dc;
$secondary-color-alpha-10: #ff79da10;
$secondary-color-alpha-20: #ff79da20;
$secondary-color-alpha-30: #ff79da30;
$secondary-color-alpha-40: #ff79da40;
$secondary-color-alpha-50: #ff79da50;
$secondary-color-alpha-60: #ff79da60;
$secondary-color-alpha-70: #ff79da70;
$secondary-color-alpha-80: #ff79da80;
$secondary-color-alpha-90: #ff79da90;
$secondary-color: #ff79da;
$accent-color: #99e2d0;
$primary-text-color: #212121;
$secondary-text-color: #757575;

// Secondary color
$white: #fff;
$black: #000;

$grey: #bdbdbd;
$light-grey: #e0e0e0;
$lighter-grey: #fafafa;
$dark-grey: #616161;
