@mixin hearth-pop() {
  & > i {
    position: relative;
    color: $primary-color;
    font-weight: 900;
    animation: heart 0.5s cubic-bezier(0.17, 0.89, 0.32, 1.49) both;
  }

  @keyframes heart {
    0% {
      transform: scale(0);
      opacity: 1;
      font-weight: 400;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      font-weight: 900;
      color: $primary-color;
    }
  }
}

.heart-pop {
  @include on-event() {
    @include hearth-pop();
  }
}
