.dish a.selected-dish {
  @include on-event() {
    .checked-dish {
      animation: selected-dish-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      & > i.fa-check-circle {
        animation: rotate-icon 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
    .content {
      animation: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  .checked-dish {
    animation: selected-dish-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@keyframes selected-dish-in {
  0% {
    width: 0;
  }
  100% {
    width: 3em;
  }
}

@keyframes selected-dish-out {
  0% {
    width: 3em;
  }
  100% {
    width: 0;
  }
}

@keyframes width {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
