%card-item {
  &:first-child {
    border-top-left-radius: ms(0);
    border-top-right-radius: ms(0);
  }
  &:last-child {
    border-bottom-left-radius: ms(0);
    border-bottom-right-radius: ms(0);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  @include screen('(min-width: 768px)') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include screen('desktop') {
    justify-content: space-between;
  }
}

.card {
  width: 100%;
  margin-bottom: ms(1);
  &.card-action {
    @include on-event() {
      .card-body {
        background-color: $primary-color-alpha-30;
      }
      div.icon {
        color: $primary-color;
      }
    }
  }
  @include screen('tablet') {
    width: 45%;
    &.card-action {
      width: 90%;
    }
  }
  @include screen('desktop') {
    width: 45%;
  }
}

.card-image {
  @extend %card-item;
  figure.image {
    position: relative;
    margin: 0;
    height: ms(6);
    border-radius: inherit;
    overflow: hidden;
    @include screen('desktop') {
      height: ms(7);
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
    figcaption.toast {
      position: absolute;
      top: 10%;
      right: 5%;
      padding: ms(-2) ms(-1);
      font-weight: 900;
      color: $accent-color-darken;
      border-radius: 3px;
      background-color: $accent-color;
    }
  }
}

.card-body {
  @extend %card-item;
  @include box-shadow(0, 10px, 8px, rgba(0, 0, 0, 0.1));
  padding: ms(0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  .content {
    width: inherit;
    display: flex;
    align-items: center;
    .title {
      margin: ms(-2) 0;
    }
    div.icon {
      color: $dark-grey;
    }
    p {
      font-size: ms(0);
    }
    @include screen('desktop') {
      align-items: center;
    }
  }
}

.has-vertical {
  flex-direction: column;
  align-items: start !important;
}
.steps {
  position: relative;
  .step {
    position: absolute;
    right: 95%;
    padding: 0.4em 0.7em;
    background-color: $primary-color;
    border-radius: ms(1);
    color: white;
    font-weight: 900;
    @include screen('tablet') {
      right: 97%;
    }
    @include screen('desktop') {
      right: 96%;
    }
  }
}
