.field {
  background-color: $light-grey;
  padding: ms(0) ms(3);
  display: flex;
  justify-content: center;
  .control {
    display: flex;
    &.has-icon {
      align-items: center;
      & > .input {
        width: ms(5);
      }
    }
    input[type='text'].input {
      border: none;
      background-color: transparent;
      font-size: ms(0);
      font-weight: 600;
    }
  }
}
