.icon {
  font-size: ms(0);
  position: relative;
  &.is-small {
    font-size: ms(-1);
  }
  &.is-medium {
    font-size: ms(1);
  }
  &.is-large {
    font-size: ms(2);
  }
  &.is-left {
    order: -1;
  }
  &.is-right {
    order: 5;
  }

  @include screen('(max-width: 320px)') {
    margin-right: ms(-2);
  }
}
