.icon {
  font-size: ms(0);
  margin: 0 ms(0);
  &.is-small {
    font-size: ms(-1);
  }
  &.is-medium {
    font-size: ms(1);
  }
  &.is-large {
    font-size: ms(2);
  }
  &.is-left {
    order: -1;
  }
  &.is-right {
    order: 5;
  }
}
