.operation {
  h3,
  i {
    font-size: ms(-1);
  }
  @include screen('desktop') {
    h3,
    i {
      font-size: ms(0);
    }
  }
  @include screen('(min-width: 1024px) and (max-width: 1439px)') {
    & > .cards {
      align-items: center;
      flex-direction: column;
      .card {
        width: 100%;
      }
    }
  }
  @include screen('(min-width: 1440px)') {
    & > .cards {
      align-items: center;
      .card {
        width: 30%;
      }
    }
  }
}
